<nav class="top-nav" *ngIf="isLoggedIn()">
  <div class="nav-left">
    <span>Leave Management System</span>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
    <a routerLink="/holidays" routerLinkActive="active">Holidays</a>
    <a routerLink="/leave-requests" routerLinkActive="active">Leave Requests</a>
    <a routerLink="/leave-types" routerLinkActive="active">Leave Types</a>
    <a routerLink="/users" routerLinkActive="active">User</a>
  </div>

  <button class="logout-btn" (click)="logout()">Logout</button>
</nav>

<app-alert></app-alert>
<div style="padding:20px">
  <router-outlet></router-outlet>
</div>
