<nav style="background:#1976d2; padding:10px; color:white">
  <a routerLink="/departments" style="margin-right:20px; color:white">Department</a>
  <a routerLink="/employees" style="color:white" style="margin-right:20px; color:white">Employee</a>
  <a routerLink="/holidays" style="margin-right:20px; color:white">Holidays</a>
  <a routerLink="/leave-requests" style="margin-right:20px; color:white">Leave Request</a>
  <a routerLink="/leave-types" style="margin-right:20px; color:white">Leave Types</a>

</nav>

<div style="padding:20px">
  <router-outlet></router-outlet>
</div>
<router-outlet />
