<h2>User Management</h2>

<!-- Add User -->
<button class="btn-primary" (click)="startCreate()" *ngIf="!creating && !editMode">+ Add User</button>

<div class="form-card" *ngIf="creating">
  <h3>Create New User</h3>
  <div class="form-row">
  <label>Username <span class="required">*</span> :</label>
  <input class="inline-input" [(ngModel)]="newUser.username">
  </div>
  <div class="form-row">
  <label>Password <span class="required">*</span> :</label>
  <input class="inline-input" type="password" [(ngModel)]="newUser.password">
  </div>
  <div class="form-row">
  <label>Role <span class="required">*</span> :</label>
  <input class="inline-input" [(ngModel)]="newUser.role">
  </div>
  <button class="btn-primary" (click)="createUser()">Save</button>
  <button class="btn-secondary" (click)="cancelCreate()">Cancel</button>
</div>

<!-- Edit User -->
<div *ngIf="editMode">
  <h3>Edit User</h3>
  <label>Username</label>
  <input [(ngModel)]="user.username">
  <label>Role</label>
  <input [(ngModel)]="user.role">
  <button (click)="updateUser()">Save</button>
  <button (click)="cancelEdit()">Cancel</button>
</div>

<!-- User Table -->
<div class="table-wrapper">
<table class="styled-table" *ngIf="!creating && !editMode">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{u.id}}</td>
        <td>{{u.username}}</td>
        <td>{{u.role}}</td>
        <td>
          <button class="btn-primary" (click)="startEdit(u)">Edit</button>
          <button class="btn-primary" (click)="deleteUser(u.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
