<h2>Leave Types</h2>

<button class="btn-primary" (click)="toggleForm()">Add Leave Type</button>

<div *ngIf="showForm" class="form-card">

  <h3>{{ isEdit ? 'Edit Leave Type' : 'Add Leave Type' }}</h3>
  <div class="form-row">
  <label>Leave Code <span class="required">*</span> :</label><br>
  <input class="inline-input" [(ngModel)]="form.leaveCode"><br>
  </div>
  <div class="form-row">
  <label>Leave Name <span class="required">*</span> :</label><br>
  <input class="inline-input" [(ngModel)]="form.leaveName"><br>
  </div>
  <div class="form-row">
  <label>Annual Allocation <span class="required">*</span> :</label><br>
  <input class="inline-input" type="number" [(ngModel)]="form.annualAllocation"><br>
  </div>
  <div class="form-row">
  <label>
    <input   class="inline-input" type="checkbox" [(ngModel)]="form.carryForward">
    Carry Forward
  </label>
  </div>

  <button class="btn-primary" (click)="save()">{{ isEdit ? 'Update' : 'Save' }} </button>

  <button class="btn-secondary" (click)="showForm=false">Cancel</button>
</div>

<hr>
<div class="table-wrapper">
<table class="styled-table" *ngIf="leaveTypes.length > 0">
    <thead>
  <tr>
    <th>#</th>
    <th>Code</th>
    <th>Name</th>
    <th>Allocation</th>
    <th>Carry Forward</th>
    <th>Actions</th><th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let lt of leaveTypes; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ lt.leaveCode }}</td>
    <td>{{ lt.leaveName }}</td>
    <td>{{ lt.annualAllocation }}</td>
    <td>{{ lt.carryForward ? 'Yes' : 'No' }}</td>
    <td>
      <button class="btn-primary" (click)="toggleForm(true, lt)">Edit</button>
      </td>
      <td>
      <button class="btn-primary" (click)="delete(lt.leaveTypeId)">Delete</button>
    </td>
  </tr>
</tbody>
</table>
</div>
<p *ngIf="leaveTypes.length === 0">No records found</p>


